body {
	font-family: cursive;
	background: linear-gradient(to right, #68d834, #9ce27c);
}

.meme {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-image {
	padding: 50px 0;
}

.meme__img {
	max-width: 280px;
}

.options-container {
	margin-bottom: 50px;
}

.options {
	min-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px 10px;
	box-shadow: 2px 2px 20px #339000;
}

.options__group {
	display: flex;
	justify-content: space-around;
}

.options__lbl {
	font-size: 20px;
}

.options__input {
	font-size: 20px;
	outline: none;
}

.options__btn {
	font-size: 20px;
	border: none;
	padding: 10px 20px;
	background: #c9dbc0;
	border-radius: 10px;
	cursor: pointer;
}

.options__btn:hover {
	background: #a9c49a;

}

.msg {
	text-align: center;
	padding: 20px;
	margin: 15px 0;
	font-size: 20px;
	background: #000;
	color: #fff;
}

.msg--error {
	background: #ac1e1e;
}

.msg--info {
	background: none;
	font-size: 30px;
	color: #000;
}
